<div class="counter-formation-list-view">

  <div class="counter-formation-list-view__legend">
    <div class="counter-formation-list-view__legend-item">
      <div class="counter-formation-list-view__legend-item-abbr">
        F
      </div>
      <div class="counter-formation-list-view__legend-item-meaning">
        Flat
      </div>
    </div>
    <div class="counter-formation-list-view__legend-item">
      <div class="counter-formation-list-view__legend-item-abbr">
        N
      </div>
      <div class="counter-formation-list-view__legend-item-meaning">
        Narrow
      </div>
    </div>
    <div class="counter-formation-list-view__legend-item">
      <div class="counter-formation-list-view__legend-item-abbr">
        W
      </div>
      <div class="counter-formation-list-view__legend-item-meaning">
        Wide
      </div>
    </div>
    <div class="counter-formation-list-view__legend-item">
      <div class="counter-formation-list-view__legend-item-abbr">
        B
      </div>
      <div class="counter-formation-list-view__legend-item-meaning">
        Butterfly
      </div>
    </div>
    <div class="counter-formation-list-view__legend-item">
      <div class="counter-formation-list-view__legend-item-abbr">
        C
      </div>
      <div class="counter-formation-list-view__legend-item-meaning">
        Curved
      </div>
    </div>
    <div class="counter-formation-list-view__legend-item">
      <div class="counter-formation-list-view__legend-item-abbr">
        D
      </div>
      <div class="counter-formation-list-view__legend-item-meaning">
        Dandelion
      </div>
    </div>
    <div class="counter-formation-list-view__legend-item">
      <div class="counter-formation-list-view__legend-item-abbr">
        H
      </div>
      <div class="counter-formation-list-view__legend-item-meaning">
        Hexagon
      </div>
    </div>
    <div class="counter-formation-list-view__legend-item">
      <div class="counter-formation-list-view__legend-item-abbr">
        V
      </div>
      <div class="counter-formation-list-view__legend-item-meaning">
        V-Style
      </div>
    </div>
    <div class="counter-formation-list-view__legend-item">
      <div class="counter-formation-list-view__legend-item-abbr">
        ET
      </div>
      <div class="counter-formation-list-view__legend-item-meaning">
        Eiffel Tower
      </div>
    </div>
    <div class="counter-formation-list-view__legend-item">
      <div class="counter-formation-list-view__legend-item-abbr">
        ML
      </div>
      <div class="counter-formation-list-view__legend-item-meaning">
        Maple Leaf
      </div>
    </div>
    <div class="counter-formation-list-view__legend-item">
      <div class="counter-formation-list-view__legend-item-abbr">
        ND
      </div>
      <div class="counter-formation-list-view__legend-item-meaning">
        Narrow Diamond
      </div>
    </div>
    <div class="counter-formation-list-view__legend-item">
      <div class="counter-formation-list-view__legend-item-abbr">
        WD
      </div>
      <div class="counter-formation-list-view__legend-item-meaning">
        Wide Diamond
      </div>
    </div>
    <div class="counter-formation-list-view__legend-item">
      <div class="counter-formation-list-view__legend-item-abbr">
        XT
      </div>
      <div class="counter-formation-list-view__legend-item-meaning">
        Xmas Tree
      </div>
    </div>
  </div>
  
  <div class="counter-formation-list-view__filter">
    <mat-form-field
      class="counter-formation-list-view__filter-input"
    >
      <input 
        matInput
        #input
        placeholder="FILTER"
        (input)="filter(input.value)"
      />
    </mat-form-field>
    
    <mat-radio-group 
      class="counter-formation-list-view__radio-group"
      [(ngModel)]="mentality"
      aria-label="Select a mentality"
    >
      <mat-radio-button 
        class="counter-formation-list-view__radio-button"
        value="offensive"
      >
        Offensive
      </mat-radio-button>
      <mat-radio-button 
        class="counter-formation-list-view__radio-button"
        value="neutral"
      >
        Neutral
      </mat-radio-button>
      <mat-radio-button 
        class="counter-formation-list-view__radio-button"
        value="defensive"
      >
        Defensive
      </mat-radio-button>
    </mat-radio-group>

  </div>


  <app-counter-formations-header
    [mentality]="mentality"
  ></app-counter-formations-header>

  <ng-container *ngFor="let formation of filteredFormations$ | async">
    <app-counter-formation-view 
      [formation]="formation"
      [mentality]="mentality"
    ></app-counter-formation-view>
  </ng-container>

</div>
