<div 
  class="shared-nav__main"
  [class.shared-nav__main--toggled]="menuToggled && isMobileMode"
>
  <div class="shared-nav__mobile-header">
    <div class="shared-nav__menu-button">
      <button 
        (click)="toggleMenu()"
        mat-button
      >
        <mat-icon>
          menu
        </mat-icon>
      </button>
    </div>

    <h1 class="shared-nav__title--mobile">
      TopEleven Manager
    </h1>
  </div>

  <div 
    class="shared-nav__wrapper"
  >
    <h1 class="shared-nav__title">
      TopEleven Manager
    </h1>
    <a 
      *ngIf="(loggedIn$ | async)"
      [routerLink]="['/my-players']" 
      (click)="toggleMenu()"
    >
      <div class="shared-nav__item">
        <p>
          My Players
        </p>
      </div>
    </a>
    <a 
      *ngIf="(loggedIn$ | async)"
      [routerLink]="['/my-team']" 
      (click)="toggleMenu()"
    >
      <div class="shared-nav__item">
        <p>
          My Team
        </p>
      </div>
    </a>
    <a 
      [routerLink]="['/training']" 
      (click)="toggleMenu()"
    >
      <div class="shared-nav__item">
        <p>Training</p>
      </div>
    </a>
    <a 
      [routerLink]="['/counter-formations']" 
      (click)="toggleMenu()"
    >
      <div class="shared-nav__item">
        <p>
          Counter Formations
        </p>
      </div>
    </a>
    <a 
      [routerLink]="['/about']" 
      (click)="toggleMenu()"
    >
      <div class="shared-nav__item">
        <p>
          About
        </p>
      </div>
    </a>
    <a 
      *ngIf="!(loggedIn$ | async)"
      href="#"
      (click)="login($event)"
    >
      <div class="shared-nav__item shared-nav_user-item">
        <p>
          Login
        </p>
      </div>
    </a>
    <a 
      *ngIf="(loggedIn$ | async)"
      href="#"
      (click)="logout()"
    >
      <div class="shared-nav__item shared-nav__user-item">
        {{ (user$ | async)?.nickname }} <br>
        <span class="shared-nav__item-logout">
          <p>
            Logout
          </p>
        </span>
      </div>
    </a>
  </div>
</div>