<div class="about-page">

  <h1
    (click)="toggleSection(0)"
  >
    My Players
  </h1>

  <div 
    class="about-page__expandable-content"
    [class.about-page__expandable-content--toggled]="sectionsToggled[0]"  
  >
    <p>
      On this page, you can create your players and modify them whenever you want.
    </p>
    <img 
      class="about-page__screenshot about-page__screenshot--fullscreen"
      src="assets/img/about/my-players.png"
    />
    <p>
      To start, click the button new player
    </p>
    <img 
      class="about-page__screenshot about-page__screenshot--button"
      src="assets/img/about/my-player-create-button.png"
    />
    <p>   
      You can set its name and his learned positions and click "create".
    </p>
    <img 
      class="about-page__screenshot about-page__screenshot--tile"
      src="assets/img/about/my-player-create.png"
    />
    <p>
      The player gets initialized with all skill values set to 100 and an age of 18.
    </p>
    <img 
      class="about-page__screenshot about-page__screenshot--tile"
      src="assets/img/about/my-player-panel.png"
    />
    <p>
      Click edit on the player to adjust his age and skill values and confirm with the check icon. 
      You can also delete created players.
    </p>
    <img 
      class="about-page__screenshot about-page__screenshot--tile"
      src="assets/img/about/my-player-edit.png"
    />
    <p>
      <b>Main position</b> is the position your player is effectively playing on the field. If a player
      has roles DC and DL, but you mostly play him as DL, set that to his main position. It will then display
      the white skills correctly without involving the ones from the other positions.
    </p>
    <p>
      <b>Effective %</b> is the normalized strength considering only white skills of his main position. These
      effective white skills are the white ones.
    </p>
    <p>
      <b>White skill %</b> is the normalized strength considering all white skills. This can differ as soon as 
      a player has more than 1 role. These additional skills are displayed slightly gray.
    </p>
    <p>
      <b>Top Eleven %</b> is the strength displayed in Top Eleven itself, where all skills are considered.
    </p>
    <p>
      You can see the differences in calculation in following example, where TopEleven would display a strength
      of 251%. If you look only at his white skills, it's already 290%. And if you consider that you will play
      this player only as a DC, he's even up to 333%! 
    </p>
    <img 
      class="about-page__screenshot about-page__screenshot--tile"
      src="assets/img/about/my-player-example.png"
    />
  </div>

  <h1
    (click)="toggleSection(1)"
  >
    My Team
  </h1>

  <div 
    class="about-page__expandable-content"
    [class.about-page__expandable-content--toggled]="sectionsToggled[1]"  
  >
    <h2>
      Tab "My Players"
    </h2>
    <p>
      This section allows you to calculate the effective strength of the 11 players you put on the field.
    </p>
    <img 
      class="about-page__screenshot about-page__screenshot--fullscreen"
      src="assets/img/about/my-team-team.png"
    />
    <p>
      You can drag and drop the players up and down. All 11 players above the blue line are included in
      the caluclated overall strength.
    </p>
    <img 
      class="about-page__screenshot about-page__screenshot--tile"
      src="assets/img/about/my-team-team-strength.png"
    />
    <p>
      When arriving at the end of a season in TopEleven, just click "NEXT SEASON", and your player's skills 
      will drop by 20%, and their age gets incremented by one year. 
    </p>
    <img 
      class="about-page__screenshot"
      src="assets/img/about/my-team-team-btn-nxt-season.png"
    />
    <p>
      Whenever you want, create a snapshot of your team by clicking "CREATE SNAPSHOT". This stores the current 
      skill values of your players in the database for a specific date and will be used in the display of their
      skill development (see further below). 
    </p>
    <img 
      class="about-page__screenshot"
      src="assets/img/about/my-team-team-btn-snapshot.png"
    />

    <h2>
      Tab "Development"
    </h2>
    <p>
      Displays the created team snapshots as graph to visualize the players skill development. You can choose if you
      want to display either of the three types of strengths (as described under "My Players").
    </p>
    <img 
      class="about-page__screenshot about-page__screenshot--fullscreen"
      src="assets/img/about/my-team-development.png"
    />
    <p>
      <b>Note:</b> if you click "NEXT SEASON", two snapshots are automatically created; one just before the skill drop,
      and one right afterwards. This allows you to quickly see the season transitions in the grpah. 
    </p>
    <p>
      <b>Tipp:</b> Create 2-3 snapshots during a season for best results. Also, try to update the skills as accurate as possible
      before the end of a season. 
    </p>

  </div>

  
  <h1
    (click)="toggleSection(2)"
  >
    Training
  </h1>

  <div 
    class="about-page__expandable-content"
    [class.about-page__expandable-content--toggled]="sectionsToggled[2]"  
  >
  </div>


  <h1
    (click)="toggleSection(3)"
  >
    Counter Formations
  </h1>

  <div 
    class="about-page__expandable-content"
    [class.about-page__expandable-content--toggled]="sectionsToggled[3]"  
  >
  </div>



</div>