$color-primary: #2A223B;
$color-secondary: #2ED66D;

$color-gk-inner: #8BCDF0;
$color-gk-outer: #5BA6E7;
$color-gk-border: #547CA0;

$color-d-inner: #88DE7D;
$color-d-border: #538C57;

$color-m-inner: #E8DB8C;
$color-m-border: #928C74;

$color-s-inner: #ED827A;
$color-s-border: #9C5253;

$color-attack: #D8686D;
$color-defense: #5CAE68;
$color-fitnesse-mental: #7880D6;