<div class="about-page">

  <h1>Welcome!</h1>

  <h2>About this application</h2>

  <p>
    The creation of this application started for fun when two new and passionate Topeleven players 
    thought about ways to improve tracking and monitoring of players stats
  </p>
  <p>
    Step by step, more ideas popped up and the functionality grew. Two months and a lot of free time 
    spent later, the application offers various options not only related to players, but also the whole 
    team, training and tactics.
  </p>
  <p>
    Everyone who's interested is able to create an account and start right away! You'll find more 
    information about data handling below. 
  </p>
  <p>
    A big THANK YOU to Iceman for offering so much free content on Discord and Reddit. All data 
    regarding recommended training sessions and counter formations were taken from Discord.
  </p>

  <h2>What happens with my data?</h2>
  <p>
    <b>
      Nothing!
    </b>
  </p>
  <p>
    The whole identity management is handled via 
    <a 
      href="https://auth0.com"
      target="_blank"  
    >
      Auth0
    </a>
    , a well-known and trusted identiy provider. To create an account, only an email-address and a nickname are needed. 
    All other possible fields are optional. No data is stored in the applications database, except the auto-
    generated and unique Auth0 user id to identify your players and team.
  </p>
  <p>
    Furthermore, this email will not used in any way! Since the developer itself is very privacy aware too,
    he's really not interested in spamming your inbox :). 
  </p>
  <p>
    All data is very protected by the Auth0 system, and it will not be used in any way other than provide an 
    identity for this application.
  </p>
  <p>
    Also, there are no trackers on this website whatsoever. It isn't even optimized for search engines, meanining
    that it's really just a plain and simple application for the sake of fun!
  </p>


  <h2>Github</h2>
  <p>
    This application is fully open source! The source code is available on 
    <a 
      href="https://github.com/valendinosaurus/topeleven"
      target="_blank"
    >
      Github
    </a>
  </p>

  <h2>Buy me a coffee</h2>
  <p>
    This application is free to use and will remain so! If you like the work, you can donate a coffee
    to the developer.
  </p>

  <form 
    action="https://www.paypal.com/donate" 
    method="post"
    target="_top"
   >
    <input 
      type="hidden" 
      name="hosted_button_id" 
      value="E6HK9NPGDSFQA"
    />
    <input 
      type="image" 
      src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" 
      border="0" 
      name="submit" 
      title="PayPal - The safer, easier way to pay online!" 
      alt="Buy me a coffee"
      />
    <img 
      alt="" border="0" 
      src="https://www.paypal.com/en_CH/i/scr/pixel.gif" 
      width="1" 
      height="1" 
    />
  </form>

</div>