<mat-tab-group>
  <mat-tab label="Session">
    <app-training-per-session-list-view
      [allPositions$]="allPositions$"
      [allSkills$]="allSkills$"
    ></app-training-per-session-list-view>
  </mat-tab>
  <mat-tab label="Position">
    <app-training-per-position-list-view
      [allPositions$]="allPositions$"
      [allSkills$]="allSkills$"
    ></app-training-per-position-list-view>
  </mat-tab>
  <mat-tab label="Skills">
    <app-training-per-skill-list-view
      [allSkills$]="allSkills$"
    ></app-training-per-skill-list-view>
  </mat-tab>
</mat-tab-group>