<div class="training-per-skill-list-view">
  <app-shared-simple-skill-checkboxes
    *ngIf="allSkills$ | async as skills"
    [allSkills]="skills"
    (skillSelected)="filterBySkill($event)"
  ></app-shared-simple-skill-checkboxes>

  <div class="row training-per-skill-list-view__row">
    <ng-container *ngFor="let session of filteredTrainingSessions$ | async">
      <div class="col-12 col-lg-6 col-xl-4">
        <app-training-per-skill-training-view
          [combinedObject]="session"
          [selectedSkills]="selectedSkills$ | async"
        ></app-training-per-skill-training-view>
      </div>
    </ng-container>
  </div>

</div>