.player {
  width: 100%;
  position: relative;

  &__buttons {
    position: absolute;
    top: 0;
    right: 4px;
    display: flex;
  }

  &__skills {
    height: 0;
    transition: height 200ms ease-out;

    &.toggled {
      height: 186px;

      @media (max-width: 500px) {
        height: 126px;
      }
    }
  }

  .mat-icon {
    transition: all 200ms ease-out;
  }

  .mat-icon-rotated{
    transform: rotate(180deg);    
  }
}