
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
// @include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$topeleven-primary: mat-palette($mat-indigo);
$topeleven-accent: mat-palette($mat-amber, A200, A100, A400);

// The warn palette is optional (defaults to red).
$topeleven-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$topeleven-theme: mat-light-theme((
  color: (
    primary: $topeleven-primary,
    accent: $topeleven-accent,
    warn: $topeleven-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($topeleven-theme);
@import 'notyf/notyf.min.css';

/* You can add global styles to this file, and also import other style files */

html, body { 
  width: 100%;
  height: 100%; 
}

body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  background: #e8f4f8 !important;
}

.app-wrapper {
  padding: 32px;
  max-width: 1280px;
  margin: auto;

  @media (max-width: 500px) {
    padding: 8px;
    padding-top: 60px;
  }
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import './global-styles/position-panels.scss';

.tile {
  background: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  margin-bottom: 30px;
  overflow: hidden;

  @media (max-width: 500px) {
    margin-bottom: 12px;
  }
}

.custom-input {
  border: none;
  border-bottom: solid 1px darkblue;

  &.ng-invalid {
    border-color: red;
    border-width: 2px;
  }
}

.player-panel-label {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 0 !important;
  display: flex;
  align-items: center;
}

.pl-16 {
  padding-left: 16px;
  
  @media (max-width: 500px) {
    padding-left: 10px;
  }
}

.skill {
  background: rgba($color-secondary, 0.5);
  color: $color-primary;
  font-weight: 500;
  font-size: 12px;
  margin-right: 4px;
  padding: 2px;
}

h1 {
  font-size: 32px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 8px;

  @media (max-width: 500px){
    text-align: center  !important;
  }
}